.widget{
    display: flex;
    justify-content: space-between;
    // width: 200px;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: -1px 5px 12px -3px rgba(107,107,107,1);
    -moz-box-shadow: -1px 5px 12px -3px rgba(107,107,107,1);
    box-shadow: -1px 5px 12px -3px rgba(107,107,107,1);
    border-radius: 5px;
    height: 105px;

    .left, .right{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: gray;
        }

        .counter{
            font-size: 26px;
            font-weight: 300;
        }
        .link{
            width: max-content;
            font-size: 13px;
            border-bottom: .5px solid gray;
        }
        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
        .icon{
            font-size: 18px;
            padding: 5px;
            background-color: rgb(215, 97, 215);
            border-radius: 5px;
            align-self: flex-end;
        }
 
    }
}